.footer
{
    text-align: center;
    align-items: center;
    background-color: #31373e;
    border-radius: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

html
{
    position: relative;
    min-height: 100%;
}

.fa
{
    font-size: 25px;
    padding: 5px;
    color: gray;
    border: 2px solid gray;
    border-radius: 5px;
    transition: 0.3s;
}

.telegram
{
    margin: 0 10px 0 0;
}

.instagram
{
    margin: 0 0 0 10px;
}

.telegram:hover
{
    color: #6bb0ff;
    border-color: #6bb0ff;
    box-shadow: 0 0 15px #6bb0ff;
}

.instagram:hover
{
    color: #c7005d;
    border-color: #c7005d;
    box-shadow: 0 0 15px #c7005d;
}